/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background: rgb(255, 254, 246);
    background: linear-gradient(180deg, rgba(255, 254, 246, 1) 24%, rgba(255, 249, 184, 1) 100%);
}

.main {
    padding: 10px;
}

.logo-section {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.logo-section img {
    width: 400px;
}

.body-section {
    display: flex;
}

.award img {
    width: 400px;
}

.hero-img img {
    width: 100%;
}

.details p {
    margin: 3rem 0;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}

.tools {
    text-align: center;
}

.tools img {
    width: 80%;
}

.tools p {
    font-weight: 500;
    font-size: 16px;
}

.tools hr {
    border: 1px solid red;
}

.tools h3 {
    font-size: 16px;
}

.tools p {
    font-size: 15px;
    line-height: 1.5rem;
}

.tools span {
    color: red;
    padding: 2px;
    font-weight: bold;
}

footer {
    background-color: rgb(228, 23, 23);
    color: white;
    padding: 30px 0;
    font-size: 16px;

}

.icon-div {
    display: flex;
    justify-content: space-around;
}

.icons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.icons img {
    width: 30px;
    background-color: white;
    padding: 2px;
    border-radius: 50%;
}


@media screen and (max-width: 576px) {
    .main {
        padding: 0;
    }

    .logo-section {
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }

    .logo-section img {
        width: 300px;
    }

    .body-section {
        display: flex;
        flex-direction: column;
    }

    .award img {
        width: 100vw;
        height: 300px;
        object-fit: contain;
    }

    .right-side h4 {
        padding: 5px;
        text-align: center;
    }

    .right-side li {
        padding: 4px 10px;
        text-align: justify;
    }

    .right-side p {
        padding: 10px;
        line-height: 1.4rem;
        text-align: justify;

    }

    .details p {
        margin: 2rem 0;
        line-height: 1.5rem;
    }

    .tools {
        padding: 10px;
    }

    .tools img {
        width: 100%;
    }

    .icon-div {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }


}